*{
    margin: 0;padding: 0;
}
body{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}
#intro{
    background-image: url("https://t3.ftcdn.net/jpg/02/68/48/86/360_F_268488616_wcoB2JnGbOD2u3bpn2GPmu0KJQ4Ah66T.jpg");
    
    
}
h1{
    font-size:50px;
    color:lavender;
}
h1:hover{
    font-size:100px;
    color:Hotpink;
  
}
#footer{
    margin-top:auto
}

#footer .container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    background-image: url("https://t3.ftcdn.net/jpg/02/68/48/86/360_F_268488616_wcoB2JnGbOD2u3bpn2GPmu0KJQ4Ah66T.jpg");
    height:100px;
    padding-bottom: 0px;
    
    
    
}
#profile{
    padding-top:50px;
}
#skill{
    padding-top:50px;
}
#contact{
    padding:50px;
}
.text-center{
    text-align:center;
}
.profile-image{
    height:100px;
    border-radius:50%;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-bottom:55px;

}
.grid-container{
    display:grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows:repeat(3,1fr);
    column-gap:5px;
    row-gap:10px;
}
.item-logo{
    display:flex;
    justify-content:center;
    align-items:center;
}
.item-text{
    display:flex;
    justify-content:start;
    align-items:center;
}
.flex-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20%;

}
